.inputForm {
  width: 700px;
  height: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.formControl {
  margin: 8px !important;
  min-width: 100px;
  max-width: 500px;
  padding: 18.5px 14px;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  border-bottom: unset !important;
}

.chip {
  margin: 10px;
}

.noLabel {
  margin-top: 15px;
}

.margin10 {
  margin: 10px;
}

.dialogButton {
  margin: 8px;
}
